[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailvault
Exec=harbour-sailvault
Name=SailVault
Comment=Native multi-chain wallet for Sailfish OS

[X-Sailjail]
OrganizationName=org.edp17
ApplicationName=SailVault
Permissions=
